@charset "utf-8";
/* CSS Document */
@media only screen and (min-width:1035px) {
	.event { 
		padding: 30px 0px 0px 290px;
		font-size: 30px;
		color: #44696c;	
	}
	.eTimer {
		margin-left: 21px;
	}
	.bigbox {
		width: 450px;
		height: 450px;
		background: url(valentinesday2020.jpg) no-repeat;
		background-position: center;
		margin: 0 0px 10px 0px;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		display: inline-block;
		position: absolute;
	}
	.bigtext {
		font-size: 20px;
		color: white;
		margin: 420px 0px 0px 15px;
		text-align: center;
		position: absolute;
		text-shadow: 0px 0px 10px rgba(0,0,0,1);
	}
	.smallbox {
		width: 337px;
		height: 450px;
		display: inline-block;
		background: url(raikou.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0px 0px 10px 464px;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		position: relative;
	}
	.smalltext {
		font-size: 20px;
		color: white;
		margin: 420px 0px 0px 15px;
		text-align: center;
		position: absolute;
		text-shadow: 0px 0px 10px rgba(0,0,0,1);
	}
	.widebox {
		height: 150px;
		width: 800px;
		margin: 0px auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
	}
	.timerbox {
		background: url(rhyhorncd.jpg);
	}
	.nestmigration {
		background: url(nestmigration.jpg);
		margin-top: 15px;
	}
	.nesttimer {
		padding: 30px 250px 0px 100px;
		text-align: center;
	}

}
@media only screen and (max-width:1034px) {
	.event {
		padding: 30px 0px 0 190px;
		font-size: 30px;
		color: #44696c;
	}
	.eTimer {
		margin-left: 50px;
	}
	.bigbox {
		width: 320px;
		height: 320px;
		background: url(valentinesday2020.jpg) no-repeat;
		background-position: center;
		margin: 0 0px 10px 72px;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		display: inline-block;
		position: absolute;
	}
	.bigtext {
		font-size: 20px;
		color: white;
		margin: 265px 15px 0px 15px;
		text-align: left;
		position: absolute;
		text-shadow: 0px 0px 10px rgba(0,0,0,1);
	}
	.smallbox {
		width: 265px;
		height: 320px;
		display: inline-block;
		background: url(raikou.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0px 0px 10px 407px;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		position: relative;
	}
	.smalltext {
		font-size: 22px;
		color: white;
		margin: 285px 0px 0px 15px;
		text-align: center;
		position: absolute;
		text-shadow: 0px 0px 10px rgba(0,0,0,1);
	}
	.widebox {
		height: 150px;
		width: 600px;
		margin: 0px auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
	}
	.timerbox {
		background: url(rhyhorncd.jpg);
	}
	.nestmigration {
		background: url(nestmigration.jpg);
		background-position: right;
		margin-top: 15px;
	}
	.nesttimer {
		padding: 30px 200px 0px 70px;
		text-align: center;
	}
	.nstTimer {
		margin: 0;
	}
}
@media screen and (max-width: 743px) {
	.event {
		padding: 290px 0px 0px 50px;
		font-size: 18px;
		color: #44696c;
	}
	.eTimer {
		margin-left: -30px;
	}
	.bigbox {
		width: 320px;
		height: 320px;
		background: url(valentinesday2020.jpg) no-repeat;
		background-position: center;
		margin: 0px auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		display: block;
		position: relative;
	}
	.bigtext {
		font-size: 20px;
		color: white;
		margin: 260px 10px 0px 10px;
		text-align: left;
		position: absolute;
		text-shadow: 0px 0px 10px rgba(0,0,0,1);
	}
	.smallbox {
		width: 320px;
		height: 320px;
		display: block;
		background: url(raikou.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		margin: 20px auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		position: relative;
	}
	.smalltext {
		font-size: 20px;
		color: white;
		margin: 285px 0px 0px 15px;
		text-align: center;
		position: absolute;
		text-shadow: 0px 0px 10px rgba(0,0,0,1);
	}
	.widebox {
		height: 400px;
		width: 320px;
		margin: 20px auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
	}
	.timerbox {
		background: url(rhyhorncdmobile.jpg) no-repeat;
		background-size: cover;
	}
	.nestmigration {
		background: url(nestmigrationmobile.jpg) no-repeat;
		background-size: cover;
		margin-top: 15px;
		text-align: left;
	}
	.nesttimer {
		padding: 285px 0px 0px;
	}
	.nstTimer {
		margin-left: 0px;
	}
}