@charset "utf-8";
/* CSS Document */
body {
		background: url(bg.jpg) no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100vw;
		margin: 0;
		font-family: "Roboto", sans-serif;
	}
@media only screen and (min-width:1035px) {
	nav {
		width: 1000px;
		height: 70px;
		position: relative;
		margin: auto;
	}
	nav ul {
		padding: 0;
		margin: 0 0;
		list-style: none;
		display: inline;
		float: center;
	}
	nav li {
		display: inline;
		float: left;
		height: 30px;
	}
	nav a {
    	color: #fff;
    	display: inline-block;
    	text-decoration: none;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		width: 170px;
		font-size: 25px;
		margin: 20px 0;
	}
	.logobg {
		margin-left: 30px;
		height: 70px;
		width: 150px;
		background: url(logo3.png) no-repeat;
		background-position: center center;
		background-size: contain;
	}
	.home {
		margin-left: 310px;
	}
	.currentpage {
		margin: -18px 50px;
		height: 2px;
		width: 70px;
		background-color: white;
	}
	.mobilelogo {
		display:none;
	}
	.basecontainer {
		height: 800px;
		width: 1000px;
		margin: 40px auto;
		background-color: rgba(255,255,255,0.80);
		border-radius: 10px;
		padding: 100px 0;
	}
	.endline {
		height: 60px;
		background-color: #6E6E6E;
		border-top: 1px solid #232323;
	}
	.endtext {
		margin: 20px auto;
		text-align: center;
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
	}
}
@media only screen and (max-width:1034px) {
	nav {
		width: 744px;
		height: 70px;
		position: relative;
		margin: 0 auto;
	}
	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline;
		float: center;
	}
	nav li {
		display: inline;
		float: left;
		height: 70px;
	}
	nav a {
    	color: #fff;
    	display: inline-block;
    	text-decoration: none;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		width: 170px;
		font-size: 25px;
		margin: 20px 5px;
	}
	.logobg {
		height: 70px;
		width: 170px;
		background: url(logo3.png) no-repeat;
		background-position: center center;
		background-size: contain;
		margin: 0 17px;
	}
	.firstbutton {
		margin-lst: 0;
	}
	.currentpage {
		margin: -18px 35%;
		height: 3%;
		width: 30%;
		background-color: white;
	}
	.basecontainer {
		height: 800px;
		width: 744px;
		margin: 40px auto;
		background-color: rgba(255,255,255,0.80);
		border-radius: 10px;
		padding: 72px 0;
	}
	.mobilelogo {
		display:none;
	}
	
	.endline {
		margin: auto;
		height: 60px;
		background-color: #6E6E6E;
		border-top: 1px solid #232323;
	}
	.endtext {
		margin: 20px auto;
		text-align: center;
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
	}
}
@media screen and (max-width: 743px) {
	nav {
  		height: 111px;
		width: 100vw;
  	}
  	nav ul {
  		display: inline-block;
  		height: auto;
  	}
  	nav li {
		background: linear-gradient(to right, #24CCAA, #A2DB95);
  		float: left;
  		position: relative;
		height: 40px;
		border-right: 1px solid #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
  	}
  	nav a {
	  	width: 100%;
		text-align: top;
		font-size: 0px;
		height: 40px;
		margin: 0;
	}
	.logobg {
		width: 100vw;
		background: linear-gradient(to right, #24CCAA, #A2DB95);
		height: 70px;
		margin: 0;
	}
	.currentpage {
		display: none;
	}
	.basecontainer {
		height: 1100px;
		width: 100vw;
		margin: 0 0;
		background-color: rgba(255,255,255,0.80);
		border-radius: 0px;
		padding: 20px 0;
		display: inline-block;
	}
	.mobilelogo {
		display: block;
		margin-top: 5px;
		height: 60px;
		width: 100%;
		background: url(logo3.png) no-repeat;
		background-size: contain;
		background-position: center;
	}
	.home {
		width: 33%;
		height: 40px;
		background: url(home.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.tools {
		width: 33%;
		height: 40px;
		background: url(tools.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.shop {
		width: 33%;
		height: 40px;
		background: url(shop.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.endline {
		height: 60px;
		background-color: #6E6E6E;
		border-top: 1px solid #232323;
	}
	.endtext {
		margin: 20px auto;
		text-align: center;
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
	}
}
nav a:hover {
	color: #B0B0B0;
}