@charset "utf-8";
/* CSS Document */
body {
	background: url(bg.jpg) no-repeat;
	background-position: top center;
	background-size: cover;
	height: 100vh;
}
nav {
	width: 60vw;
	height: 15vh;
	position: relative;
	margin: 1vh 20vw 1vh 20vw;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 60vw;
	list-style: none;
	display: inline;
	float: right;
}
nav li {
	display: inline;
	float: left;
	height: 15vh;
}
nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	width: 10vw;
	margin: 8% 0;
	font-size: 1.5vw;
}
.logobg {
	width: 10vw;
	background: url(logo3.png) no-repeat;
	background-position: top left;
	background-size: contain;
}
.firstbutton {
	margin-left: 20vw;
}
.currentpage {
	margin: -5% 25%;
	height: 3%;
	width: 50%;
	background-color: white;
}
nav a:hover {
	color: #B0B0B0;
}
@media only screen and (max-width:481px) {
	nav {
	width: 100vw;
	height: 40vh;
	position: relative;
	margin: 1vh 0 1vh 0;
	}
	nav ul {
	width: 100vw;
	height: 40vh;
	padding: 0;
	margin: 0;
	list-style: none;
	}
	nav li {
		float: center;
		height: 8vh;
		width: 100vw;
		display: block;
		margin: 0;
	}
	nav li .logobg {
		height: 10vh;
	}
	nav a {
    	color: #fff;
    	display: inline-block;
    	text-decoration: none;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		width: 90vw;
		margin: 0;
		font-size: 7vw;
	}
	.logobg {
		width: 60vw;
		background: url(logo3.png) no-repeat;
		background-position: center center;
		background-size: contain;
		margin: 0 15vw;
	}
	.firstbutton {
		margin-left: 0;
		margin-top: 10px;
	}
	.currentpage {
		margin: 0 35vw;
		height: 0.5vh;
		width: 20vw;
		background-color: white;
	}
	nav a:hover {
		color: #B0B0B0;
	}
}